@mixin inblock() {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin clearfix() {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin centralize() {
  margin: 0 auto;
  min-width: 320px;
  max-width: 320px;
  @include box-sizing();

}

@mixin hide-text() {
  text-indent: -9999px;
  color: transparent;
  font-size: 0;
}

@mixin bg($left: 0, $top: 0, $file: 'sprite.png', $repeat: no-repeat, $bg-color:transparent) {
  background: url('../img/#{$file}') $repeat scroll $left $top $bg-color;
}

@mixin link-block() {
  text-decoration: none;
  display: block;

  &:hover{
    text-decoration: none;
  }
}
