$global-font: 'Open Sans', Arial, sans-serif;
$color-default:#444444;
$color-default_hover:#444444;
$color-title:#000000;
$color-title_hover:rgba($color-title,0.6);
$color-title_down:rgba($color-title,0.3);
$color-main:#63d1bb;
$color-main-dark:#149080;
$color-main_border:#62d1ba;
$color-border:#ececec;
$content-space:30px;
$content-space-big:50px;
$content-width-tablet:668px;
$content-width-desktop:1050px;
$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";
