.contacts {
  @include centralize;
  padding-top: 46px;
}

.contacts__wrap {
  margin-bottom: 38px;
}

.contacts__title {
  font-size: 1.8em;
  line-height: 1.666666;
  font-weight: 700;
  padding: 0 $content-space;
  margin: 0 0 25px;
}

.contacts__info {
  padding: 0 $content-space;
}

.contacts__info-item {
  font-size: 1.5em;
  line-height: 2;
  @include clearfix;
  margin-bottom: 30px;
}

.contacts__item-key {
  min-width: 77px;
  float: left;
}

.contacts__item-val {
  float: left;
  max-width: 180px;

  &--mail {
    color: $color-default;
    text-decoration: none;
  }
}

.contacts__item-val-text {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $color-main_border;
  }
}

.ymaps-2-1-50-map {
  z-index: 1!important;//for Yandex map
}

.contacts__map {
  position: relative;
  height: 457px;
  width: 100%;
  @include clearfix;
  text-align: center;
  background: url('../img/map-mobile@1x.jpg') 0 0 no-repeat;

  @media screen and #{$retina} {
    background-image: url('../img/map-mobile@2x.jpg');
  }

  &::after {
    content: '';
    position: absolute;
    @include bg(0, 0, 'icon-map-pin.svg');
    width: 68px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

.contacts__write-wrap {
  padding: 0 $content-space;
  margin-top: 39px;
}

.contacts__write {
  width: 100%;
}

@media screen and #{$tablet-widths}  {
  .contacts {
    margin-top: 75px;
  }

  .contacts__wrap {
    padding: 0 $content-space-big;
    width: $content-width-tablet;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 26px;
  }

  .contacts__title {
    font-size: 4.3em;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      @include bg(0, 0, 'icon-flag.svg');
      width: 47px;
      height: 81px;
      top: 0;
      right: 3px;
    }
  }

  .contacts__info {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .contacts__info-item {
    font-size: 1.7em;
    line-height: 31px;
    width: 50%;
    box-sizing: border-box;
  }

  .contacts__item-val {
    max-width: none;
  }

  .contacts__item-val-text {

    &:hover {
      color: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .contacts__write-wrap {
    padding: 0 $content-space-big;
    width: $content-width-tablet;
    text-align: center;
    margin: 55px auto 0;
  }

  .contacts__write {
    width: 230px;
  }

  .contacts__map {
    background-image: url('../img/map-tablet@1x.jpg');

    @media screen and #{$retina} {
      background-image: url('../img/map-tablet@2x.jpg');
    }
  }
}

@media screen and #{$desktop-widths} {

  .contacts {
    width: $content-width-desktop;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 65px;
    padding-top: 94px;
  }

  .contacts__title {
    font-size: 5.3em;
    margin-top: 54px;
    margin-left: -5px;
    margin-bottom: 31px;

    &::before {
      top: 6px;
      left: -107px;
    }
  }

  .contacts__wrap {
    padding-left: 175px;
    width: 50%;
    box-sizing: border-box;
  }

  .contacts__info-item {
    width: 100%;
  }

  .contacts__info {
    flex-wrap: wrap;
  }

  .contacts__map {
    width: 50%;
  }

  .contacts__write-wrap {
    position: absolute;
    bottom: 0;
    width: auto;
    left: 124px;
  }

  .contacts__map {
    background-image: url('../img/map-desktop@1x.jpg');

    @media screen and #{$retina} {
      background-image: url('../img/map-desktop@2x.jpg');
    }
  }
}
