.main-nav {
  position: relative;
  float: right;
}

.main-nav__toggler {
  position: absolute;
  right: 30px;
  top: 32px;
  width: 20px;
  height: 14px;
  cursor: pointer;

  @include bg(0, 0, 'icon-menu-open.svg');

  &--open {
    @include bg('icon-menu-close.svg');
    width: 21px;
    height: 20px;
  }

}

.main-nav__wrapper {
  display: none;
}
