.main-nav {
  position: relative;
  //float: right;
}
.main-nav--open {

  .main-nav__toggle {
    @include bg(0, 0, 'icon-menu-close.svg');
    width: 21px;
    height: 20px;
  }

  .main-nav__wrapper {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 2;
    background-color: #fff;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 32px;
  width: 20px;
  height: 14px;
  cursor: pointer;
  @include bg(0, 0, 'icon-menu-open.svg');
  border: none;
}
.main-nav__sub-items {
  display: none;
}

.main-nav__wrapper {
  //display: none;
  text-align: left;
}

.main-nav__item {
  @include link-block;
  border-bottom: 1px solid $color-border;
  font-size: 1.7em;
  line-height: 80px;
  font-weight: 700;
  color: $color-title;
  padding-left: 77px;
  position: relative;
}

.main-nav__item-img {
  position: absolute;
  left: 35px;
  top: 50%;
  margin-top: -9px;
  fill: rgba(#231F20, 0.2);

  &--search {
    width: 18px;
    height: 19px;
  }

  &--cart {
    width: 21px;
    height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }


  .main-nav--nojs .main-nav__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 2;
    background-color: #fff;
  }
}
@media screen and (min-width: 768px){
  .main-nav__toggle {
    display: none;
  }
  .main-nav--open .main-nav__wrapper {
    display: flex;
    position:static;
  }

  .main-nav__item {
    border-bottom: 0;

  }


  .main-nav__wrapper {
    display:flex;


  }
  .main-nav__list {
    display: flex;
    .main-nav__item {
      padding-left: 0;
    }
  }
  .main-nav__additional{
    display: flex;
    margin-left: auto;
  }
  .main-nav__text{
    @include hide-text;
  }

}
