.main-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &--open {
    overflow: visible;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 79px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav--nojs {
  .main-nav__list {
    height: auto;
  }
}

.main-nav__item {
  border-bottom: 1px solid $color-border;
  width: 100%;
  background-color: #fff;
}

.main-nav__sub-item {
  display: none;
}

.main-nav__link {
  @include link-block;
  font-size: 1.7em;
  line-height: 80px;
  font-weight: 700;
  color: $color-title;
  padding-left: 77px;
  position: relative;
  height: 100%;

  &--logo {
    padding-left: 0;
    margin: 22px auto;
    display: flex;
    width: 86px;
    border-bottom: 0;
  }
}

.main-nav__link--logo svg {
  width: 86px;
  height: 35px;
  color: $color-default;
  cursor: pointer;
}

.main-nav--open {

  .main-nav__toggle {
    @include bg(0, 0, 'icon-menu-close.svg');
    width: 21px;
    height: 20px;
  }

  .main-nav__wrapper {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 2;
    background-color: #fff;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 32px;
  width: 20px;
  height: 14px;
  cursor: pointer;
  @include bg(0, 0, 'icon-menu-open.svg');
  border: none;

  &:focus {
    outline: none;
  }
}

.main-nav__sub-items {
  display: none;
}

.main-nav__wrapper {
  text-align: left;
}

.main-nav__item-img {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  fill: rgba(#231F20, 0.2);

  &--search {
    width: 18px;
    height: 19px;
  }

  &--cart {
    width: 21px;
    height: 18px;
  }
}

@media screen and #{$tablet-widths} {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    justify-content: space-between;
    align-items: stretch;
    overflow: visible;
  }

  .main-nav__list {
    height: auto;
  }

  .main-nav__item {
    order: 1;
    width: auto;
    padding-right: 37px;
    background-color: transparent;
    border-bottom: none;
  }

  .main-nav__item--logo {
    order: 0;
    min-width: 321px;
    width: 48%;
    height: 88px;
    padding-right: 0;
  }

  .main-nav__item--search {
    order: 0;
    width: 82px;
    padding-right: 0;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .main-nav__item--cart {
    order: 0;
    padding-right: 0;
  }

  .main-nav__link {
    font-size: 15px;
    line-height: 24px;
    width: auto;
    min-height: auto;
    margin-bottom: 0;
    padding-left: 0;
  }

  .main-nav__link--logo {
    width: 113px;
    height: 46px;
    margin-top: 22px;
    margin-left: 0;
  }

  .main-nav__item-img--cart{
    left:32px;
  }

  .main-nav__link--catalog,
  .main-nav__knitting{
    padding-top: 18px;
  }

  .main-nav__link--cart {
    padding-left: 81px;
    display: flex;
    font-size: 1.7em;

    span {
      align-self: center;
    }
  }

  .main-nav__sub-item--delivery {
    display: block;
    order: 1;
    margin-left: auto;
    padding-top: 17px;
  }

  .main-nav__sub-text {
    color: $color-default;
    font-size: 1.5em;
  }

  .main-nav__link--search {
    span {
      @include hide-text;
    }
  }
}

@media screen and #{$desktop-widths} {
  .main-nav {
    margin-left: 0;
    width: 100%;
  }

  .main-nav__item {
    order: 0;
    padding: 0;

  }

  .main-nav__link {
    margin: 0;
    font-size: 17px;
  }

  .main-nav__sub-item {
    .main-nav__link {
      font-size: 15px;
    }
  }

  .main-nav__item--search {
    width: 82px;
  }

  .main-nav__item--logo {
    order: 1;
    width: auto;
  }

  .main-nav__link--logo {
    margin: 22px auto;
  }

  .main-nav__item--search {
    order: 1;
  }

  .main-nav__item--cart {
    order: 1;
  }

  .main-nav__sub-item {
    display: block;
    order: 2;
  }

  .main-nav__item--logo {
    order: 1;
    width: auto;
  }

  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__link--catalog {
    padding-top: 31px;
    padding-right: 36px;
    padding-bottom: 33px;
    border-right: 1px solid $color-border;
    box-sizing: border-box;
  }

  .main-nav__knitting {
    padding-top: 31px;
    padding-left: 36px;
    padding-bottom: 33px;
    box-sizing: border-box;
  }

  .main-nav__sub-item {
    margin-top: 18px;
    margin-right: 65px;
    font-size: 1.5em;
  }

  .main-nav__item--cart {
    width: 25.4%;
  }



  .main-nav__sub-item--delivery {
    margin-left: auto;
    margin-right: 0;
  }

}
