.order-form {
  @include centralize;
  padding: 0 $content-space;
}

.form-group__inner {
  margin-top: 8px;
}

.form-group__inner--checkbox {
  margin-top: 20px;
}

.form-group__legend {
  font-size: 1.7em;
  color: $color-main;
  text-transform: uppercase;
  position: relative;
  margin: 21px 0 8px;

  span {
    @include inblock;
    background-color: #fff;
    padding-right: 22px;
    position: relative;
  }

  &::before {
    content: '';
    height: 1px;
    background-color: $color-main_border;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;

  }

}

.form-group__field {
  display: block;
  margin-bottom: 15px;
  position: relative;

  &--area {
    margin-bottom: 7px;
  }

}

.checkbox-component {
  padding-left: 60px;
  margin-bottom: 21px;
}

.radio-component {
  padding-left: 60px;
  margin-bottom: 10px;
}

.checkbox-component__control,
.radio-component__control {
  position: absolute;
  z-index: -1;
  opacity: 0;

  + .checkbox-component__text,
  + .radio-component__text {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    line-height: 1.2;

    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%);
      left: -60px;
      border: 2px solid $color-default;
      cursor: pointer;
    }
  }

  + .radio-component__text {
    &::before {
      border-radius: 100%;
    }
  }
}

.radio-component__control:checked {

  + .radio-component__text {

    &::after {
      content: '';
      position: absolute;
      border-radius: 100%;
      background-color: $color-main_border;
      width: 16px;
      height: 16px;
      left: -48px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

.radio-component__control:disabled {

  + .radio-component__text {

    &::before,
    &::after {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.checkbox-component__control:checked {

  + .checkbox-component__text {

    &::after {
      content: '';
      position: absolute;
      background: url('../img/icon-tick.svg') 0 0 no-repeat;
      background-size: cover;
      width: 22px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%);
      left: -50px;
      cursor: pointer;
    }
  }
}

.checkbox-component__control:disabled {

  + .checkbox-component__text {

    &::before,
    &::after {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.checkbox-component__text,
.radio-component__text {
  font-weight: 700;
  color: $color-title;
  font-size: 1.7em;
}

.form-group__input {
  width: 100%;
  line-height: 42px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #000;
  font-size: 1.7em;
  box-sizing: border-box;
  border-radius: 0;
  color: $color-default;
  background-color: transparent;

  &::-webkit-input-placeholder {
    color: rgba($color-default, 0.3);
  }

  &:focus {
    outline: none;
    border-color: $color-main_border;
  }

  &:hover {
    border-color: $color-main_border;
  }

  &--area {
    resize: none;
    line-height: normal;
    border: 2px solid #000;
    height: 142px;
    padding: 10px 15px;
    margin-top: 12px;

  }

  &--img {
    padding-right: 40px;
  }
}

.form-group__input--tel,
.form-group__input--mail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
}

.form-group__input--tel {
  width: 25px;
  height: 24px;
  right: 8px;
}

.form-group__input--mail {
  width: 32px;
  height: 21px;
  right: 4px;
}

.form-group__info-text {
  font-size: 1.4em;
  margin: 0;
}

.form-group__field-text {
  font-weight: 700;
  color: #000000;
  font-size: 1.7em;
  margin-bottom: 0;
  display: block;
  margin-top: 16px;
}

.form-action {
  margin-top: 26px;
  margin-bottom: 56px;
}

.form-button {
  width: 100%;
}

@media screen and #{$tablet-widths} {
  .order-form {
    padding: 0;
    width: auto;
  }

  .radio-component {
    padding-left: 81px;
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .checkbox-component {
    padding-left: 81px;
    margin-bottom: 35px;
    min-width: 182px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      min-width: 150px;
    }
  }

  .checkbox-component__control,
  .radio-component__control {

    + .checkbox-component__text,
    + .radio-component__text {

      &::before {
        width: 48px;
        height: 48px;
        left: -80px;
      }
    }

    + .radio-component__text {
      &::before {
        border-radius: 100%;
      }
    }
  }

  .checkbox-component__text,
  .radio-component__text {
    font-size: 1.9em;

    &:hover {

      &::before {
        border-color: $color-main_border;
      }
    }

    &:active {

      &::before {
        border-color: $color-default_hover;
        opacity: 0.3;
      }
    }
  }

  .radio-component__control:checked {

    + .radio-component__text {

      &::after {
        width: 22px;
        height: 22px;
        left: -65px;
      }
    }
  }

  .checkbox-component__control:checked {

    + .checkbox-component__text {

      &::after {
        width: 33px;
        height: 22px;
        left: -70px;
      }
    }
  }

  .form-group {
    display: flex;
    width: 100%;
    padding: 38px 0 56px;
    align-items: baseline;
  }

  .form-group__legend span {
    background-color: transparent;
    font-weight: 700;
  }

  .form-group--type,
  .form-group--name {
    padding-left: $content-space-big;
    padding-right: $content-space-big;
    width: $content-width-tablet;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group__wrapper {
    padding-left: $content-space-big;
    padding-right: $content-space-big;
    width: $content-width-tablet;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
  }

  .form-group--color {
    padding: 30px 0 19px;
    background-color: #f1f1f1;
  }

  .form-group--name {
    padding-top: 44px;
    padding-bottom: 25px;

    .form-group__field {
      margin-bottom: 26px;
    }

    .form-group__field-text {
      margin-top: -2px;
      font-size: 1.9em;
    }
  }

  .form-group--tel {
    padding: 44px 0 0;
    background-color: #f1f1f1;
  }

  .form-group--mail {
    padding: 0 0 30px;
    background-color: #f1f1f1;
  }

  .form-group__input--tel {
    width: 25px;
    height: 24px;
    right: 28px;
  }

  .form-group__input--mail {
    width: 67px;
    height: 33px;
  }

  .form-group--add {
    padding: 31px $content-space-big 20px;
    width: $content-width-tablet;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group__legend {
    width: 25%;
    margin-top: 0;
  }

  .form-group__inner {
    flex-grow: 1;
  }

  .form-group__inner--checkbox {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    box-sizing: border-box;
  }

  .form-group__legend::before {
    display: none;
  }

  .form-button {
    padding-right: 30px;
    padding-left: 30px;
    width: inherit;
    margin-top: 17px;
  }

  .form-group__info-text {
    font-size: 1.7em;
  }

  .order-form form {
    display: flex;
    flex-wrap: wrap;
  }

  .form-group__info-text {
    order: 3;
    align-self: center;
    margin-left: auto;
  }

  .form-group__input {
    line-height: 46px;
    height: 50px;
    font-size: 1.9em;
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-action {
    margin-top: 0;
    order: 2;
    align-self: center;
    margin-bottom: 8px;
  }

  .form-group__field {
    display: flex;
    align-items: center;
    margin-bottom: 19px;

    &:hover {

      .form-group__input--tel,
      .form-group__input--mail {
        fill: $color-main_border;
        opacity: 1;
      }
    }
  }

  .form-group__field-text {
    margin-right: 30px;
    margin-top: 2px;
  }

  .form-group__input--area {
    padding-top: 1px;
    height: 140px;
  }
}

@media screen and #{$desktop-widths} {

  .order-form {
    max-width: 100%;
  }

  .form-group--type,
  .form-group--name {
    width: $content-width-desktop;
  }

  .form-group__wrapper {
    width: $content-width-desktop;
  }

  .form-group--color {
    padding-top: 34px;
  }

  .form-action {
    margin-left: 175px;
  }

  .form-group__legend {
    width: 175px;
    box-sizing: border-box;
    padding-right: 53px;
    text-align: right;
  }

  .form-group__field-text {
    font-size: 1.9em;
  }

  .form-group--name {
    padding-top: 44px;
    padding-bottom: 25px;

    .form-group__inner {
      padding-right: 175px;
    }
  }

  .form-group--tel,
  .form-group--mail {

    .form-group__inner {
      padding-right: 175px;
    }

    .form-group__legend {
      text-align: left;
      padding-left: 61px;
      padding-right: 0;
    }
  }

  .form-group__input--tel {
    right: 10px;
  }

  .form-group__input--mail {
    right: -10px;
  }

  .form-group--add {
    width: $content-width-desktop;

    .form-group__inner {
      padding-right: 175px;
    }
  }

  .form-group__info-text {
    padding-right: 175px;
  }

  .checkbox-component {
    width: 182px;
  }

  .form-button {
    margin-top: 9px;
  }

  .form-group__inner--checkbox {
    max-height: 190px;
    flex-direction: row;
    width: 877px;
    padding-left: 0;
  }

  .checkbox-component:nth-of-type(3n) {
    margin-bottom: 36px;
  }

  .checkbox-component:nth-of-type(2n) {
    margin-bottom: 0;
  }

  .radio-component {
    margin-bottom: 31px;
  }

  .form-group--tel {
    padding-top: 42px;
  }
}
