.page-header {
  background-color: #fff;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-header__title {
  @include hide-text;
}



@media screen and #{$mobile-widths-only} {
  .page-header {

  }
}
@media screen and #{$tablet-widths} {

  .page-header {
    @include centralize;
    padding: 0 $content-space-big;
    width: $content-width-tablet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 89px;
  }

}
@media screen and #{$desktop-widths}  {
  .page-header {
    position: relative;
    justify-content: space-around;
    width: $content-width-desktop;
  }

  .page-header__logo {
    position: absolute;
    z-index:3;
  }
}
