.page-header {
  @include clearfix;

  background-color: #fff;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  text-align: center;

}

.page-header__title {
  @include hide-text;
}

.page-header__logo {
  background: url('../img/logo-mobile.svg') 0 0 no-repeat;
  width: 86px;
  height: 35px;
  @include inblock();
  margin-top: 22px;
  color: $color-default;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 78px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}
