.page-footer {
  background-color: #f1f1f1;
  margin-top: 39px;
}

.page-footer__inner {
  padding: 0 $content-space;
  @include centralize;
}

.page-footer__logo {
  display: none;
}

.social-links {
  text-align: center;
  padding: 22px 0 25px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  font-size: 1.9em;
  color: $color-title;
  text-align: center;
  line-height: 80px;
  position: relative;
  text-decoration: none;
  @include inblock;
  width: 100%;
}

.page-footer__copyright-text {
  @include inblock;
  margin-right: 20px;
  font-weight: 700;
}

.page-footer__copyright-img {
  width: 27px;
  height: 34px;
  fill: $color-main;
  position: relative;
  top: 12px;
}

.social-link-wrap {
  text-decoration: none;

  span {
    @include hide-text;
  }
}

.social-link {
  fill: #231F20;
  margin: 0 20px;
}

@media screen and #{$tablet-widths} {

  .page-footer {
    height: 144px;
    margin-top: 57px;
  }

  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: $content-width-tablet;
    position: relative;
  }

  .social-links {
    border-bottom: 0;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
  }

  .page-footer__logo {
    display: block;

    &:hover {

      svg {
        fill: $color-main-img-hover;
      }
    }

    &:active {

      svg {
        opacity: 0.3;
      }
    }
  }

  .social-link-wrap {
    display: inline-block;
    vertical-align: baseline;

    &:hover {

      .social-link {
        fill: $color-main-img-hover;
      }
    }

    &:active {

      .social-link {
        opacity: 0.3;
      }
    }
  }

  .page-footer__copyright {
    width: auto;

    &:hover {

      .page-footer__copyright-img {
        fill: $color-main-img-hover;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

}

@media screen and #{$desktop-widths} {

  .page-footer {
    margin-top: 104px;
  }

  .page-footer__inner {
    width: $content-width-desktop;
  }
}
