.popup {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popup__inner {
  position: absolute;
  background-color: #fff;
  right: 0;
  left: 0;
  top: 50%;
  margin-top: -170px;
  text-align: center;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 7px 10px rgba(#000101, 0.25);
  padding: 40px $content-space 45px;
}

.popup__title {
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 700;
  color: $color-title;
  text-transform: uppercase;
  margin: 0 auto;
  width: 150px;
}

.popup__text {
  font-size: 1.5em;
  margin: 25px 0;
}

.popup__button {
  margin-top: 30px;
}

.popup__sizes {
  display: flex;
  justify-content: space-between;
}

.popup__sizes-text {
  font-size: 1.7em;
  font-weight: 700;
  padding: 8px 34px;
  border: 2px solid $color-border;
  display: block;
  cursor:pointer;
}

.popup__sizes-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked {

    + .popup__sizes-text {
      border-color: $color-main;
    }
  }
}

@media screen and #{$tablet-widths} {
  .popup__inner {
    width: 568px;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 106px;
    padding-right: 106px;
  }

  .popup__title {
    width: auto;
    font-size: 3em;
  }

  .popup__text {
    font-size: 1.7em;
  }

  .popup__sizes-text {
    width: 112px;
    box-sizing: border-box;

    &:hover {
      border-color: rgba($color-default_hover, 0.3);
    }
  }
}
