.process {
  @include centralize;
  padding: 0 $content-space;
}

.process__title {
  font-size: 1.7em;
  line-height: 1.41176;
  color: $color-title;
  font-weight: 700;
  border: 1px solid $color-border;
  padding: 23px 40px 24px 90px;
  margin-bottom: 0;
  position: relative;
  margin-top: 0;
}

.process__video {
  height: 150px;
  position: relative;
}

.process__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  cursor: pointer;
}

.process__bottom {
  padding: $content-space;
  border-left: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  border-right: 1px solid $color-border;
}

.process__text {
  font-size: 1.3em;
  line-height: 1.84615;
  margin: 0 0 30px;
}

.process__button {
  width: 100%;
}

.process__title-img {
  fill: $color-main;
  position: absolute;
  left: 33px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
}
@media screen and #{$mobile-widths-only} {
  .process {
    position: relative;
    padding-top: 95px;
  }

  .process__title {
    position: absolute;
    top:0;
    left:$content-space;
    right: $content-space;
  }
}

@media screen and #{$tablet-widths} {
  .process {
    padding: 0 $content-space-big;
    display: flex;
    flex-direction: column;
  }

  .process__title {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .process__text {
    font-size: 1.5em;
  }

  .process__video {
    height: 455px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .process__bottom {

  }

}
@media screen and #{$desktop-widths} {
  .process {
    flex-direction: row;
  }

  .process__video {
flex-grow: 1;
  }

  .process__video-description {
    width: 368px;
    display: flex;
    flex-wrap: wrap;
  }

  .process__title-img {
    position: static;
    transform:translate(0);
  }

  .process__title {
    padding-right: 56px;
    padding-left: 80px;
  }

  .process__title-text {
    display: block;
  }

  .process__bottom {
    padding-right: 56px;
    padding-left: 80px;
  }
}
