.promo {
  @include centralize;
  padding: 0 $content-space;
  display: flex;
  flex-direction: column;
}

.promo__descr-title {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}

.promo__descr-mark {
  font-size: 1.7em;
  line-height: 1;
  color: #63d1bb;
  font-weight: 700;
  text-transform: uppercase;

}

.promo__text {
  font-size: 1.5em;
  line-height: 1.6;
  margin-top: 25px;
  margin-bottom: 20px;
}

.promo__info {
  font-size: 1.5em;
  line-height: 1.33333;
  margin-bottom: 25px;
}

.promo__info-item {
  border-bottom: 1px solid $color-border;
  padding: 10px 0;
  @include clearfix;
}

.promo__item-key {
  float: left;
  min-width: 98px;
}

.promo__item-val {
  float: left;
}

.promo__order-block {
  margin-bottom: 30px;
}

.promo__image {
  @include bg(50%, 50%, 'triple-set-mobile@1x.jpg', no-repeat);
  background-size: cover;
  height: 316px;
}

.promo__order-price {
  font-size: 1.7em;
  font-weight: 700;
  color: $color-default;
  text-align: center;
  margin: 25px 0;
}

.promo__order {
  width: 100%;
}

@media screen and #{$mobile-widths-only} {
  .promo__order-block {
    order: 1;
  }
}

@media screen and #{$tablet-widths} {
  .promo {
    padding: 0 $content-space-big;
    position: relative;
    flex-wrap: wrap;
    height: 620px;
  }

  .promo__descr {
    width: 50%;
  }

  .promo__descr-title {
    font-size: 4.3em;
  }

  .promo__text {
    width: 50%;
    box-sizing: border-box;
  }

  .promo__descr-mark {
    margin-left: auto;
    align-self: center;
    max-width: 70px;
    text-align: center;

  }
  .promo__info {
    width: 50%;
    box-sizing: border-box;
  }
  .promo__order-block {
    width: 50%;
    box-sizing: border-box;

  }
  .promo__image {
    height: 400px;
    width: 50%;
  }
}

@media screen and #{$desktop-widths}{

  .promo {
    height: 555px;
  }

  .promo__descr-mark {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .promo__descr {
    padding-left: 175px;
    position: relative;
    box-sizing: border-box;
    width: 50%;
  }

  .promo__text {
    padding-left: 175px;
    box-sizing: border-box;
  }

  .promo__info {
    padding-left: 175px;
    box-sizing: border-box;
  }

  .promo__order-block {
    padding-left: 175px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: 0;
  }

  .promo__image {
    height: 637px;
    width: 50%;
  }

  .promo__descr-title {
    white-space: nowrap;
  }

}


