.promo {
  @include centralize;
  padding: 0 $content-space;
  display: flex;
  flex-direction: column;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -11px;
    display: block;
    height: 7px;
    left: 0;
    right: 0;
    background: url('../img/bg-zigzag-line.svg') 0 0 repeat-x;
    background-size: cover;
  }

}

.promo__descr-title {
  font-size: 2.5em;
  line-height: 34px;
  font-weight: 700;
  margin: 0;
}

.promo__descr-mark {
  font-size: 1.7em;
  line-height: 1;
  color: #63d1bb;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;

}

.promo__text {
  font-size: 1.5em;
  line-height: 1.6;
  margin-top: 25px;
  margin-bottom: 17px;
}

.promo__info {
  font-size: 1.5em;
  line-height: 1.33333;
  margin-bottom: 28px;
}

.promo__info-item {
  border-bottom: 1px solid $color-border;
  padding: 10px 0;
  @include clearfix;
}

.promo__item-key {
  float: left;
  min-width: 98px;
}

.promo__item-val {
  float: left;
}

.promo__order-block {
  margin-bottom: 30px;
}

.promo__image {
  height: 316px;
  text-align: center;
}

.promo__order-price {
  font-size: 1.7em;
  font-weight: 700;
  color: $color-default;
  text-align: center;
  margin: 20px 0 22px;
}

.promo__order {
  width: 100%;
}

@media screen and #{$mobile-widths-only} {
  .promo__order-block {
    order: 1;
  }
}

@media screen and #{$tablet-widths} {
  .promo {
    padding: 0 $content-space-big;
    width: $content-width-tablet;
    position: relative;
    flex-wrap: wrap;
    height: 600px;

    &:after {
      bottom: 0;
      display: block;
      height: 17px;
      left: 0;
      right: 0;
    }
  }

  .promo__descr {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
  }

  .promo__descr-title {
    font-size: 4.3em;
    margin-left: -4px;
  }

  .promo__text {
    width: 50%;
    margin-top: 54px;
    line-height: 30px;
    padding-right: 43px;
    box-sizing: border-box;
    font-size: 1.7em;
  }

  .promo__descr-mark {
    margin-left: auto;
    align-self: center;
    max-width: 70px;
    text-align: center;
    margin-right: 29px;
    margin-top: 2px;
  }

  .promo__info {
    width: 50%;
    box-sizing: border-box;
    margin-top: 19px;
    padding-right: 43px;
  }

  .promo__order-block {
    width: 50%;
    box-sizing: border-box;
    padding-right: 43px;
  }

  .promo__order-price {
    margin: 22px 0 28px;
    font-size: 2em;
  }

  .promo__image {
    height: 403px;
    width: 334px;
    position: absolute;
    right: 0;
    top: 127px;
    margin-right: 51px;
    box-sizing: border-box;
  }
}

@media screen and #{$desktop-widths}{

  .promo {
    height: 683px;
    width: $content-width-desktop;
    padding-bottom: 95px;

    &:after {
      height: 23px;
      left: 50px;
      right: 50px;
    }
  }

  .promo__descr-mark {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .promo__descr {
    padding-left: 175px;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    margin-top: 111px;
  }

  .promo__descr-title {
    font-size: 5.3em;
  }

  .promo__text {
    padding-left: 175px;
    box-sizing: border-box;
    margin-top: 59px;
    margin-bottom: 31px;
  }

  .promo__info {
    padding-left: 175px;
    box-sizing: border-box;
  }

  .promo__order-block {
    padding-left: 175px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: 0;
    padding-right: 58px;
  }

  .promo__image {
    height: 637px;
    width: 50%;
    position: static;
    margin-top: 47px;
  }

  .promo__descr-title {
    white-space: nowrap;
  }

}
