.reviews {
  @include centralize;
  padding: 0 $content-space 40px;
  margin-top: 55px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    display: block;
    height: 7px;
    left:0;
    right: 0;
    background: url('../img/bg-zigzag-line.svg')  0 0 repeat-x;
    background-size: cover;
  }
}

.reviews__title {
  font-size: 2.5em;
  line-height: 1.2;
  color: $color-title;
  font-weight: 700;
  margin: 25px 0;
}

.reviews__wrapper {

}

.reviews__item {
  margin: 0;
}

.reviews__item-descr {
  font-size: 1.5em;
  line-height: 2;
  margin-bottom: 22px;
}

.reviews__item-name {
  font-size: 1.7em;
  font-weight: 700;
  font-style: normal;
  color: $color-title;
}

.reviews__item-mail {
  font-size: 1.7em;
  color: $color-default;
  @include link-block;
}

.reviews__button-group {
  margin-top: 28px;
}

.reviews__button-wrap {
  @include hide-text;
}

.reviews__button {
  background: none;
  width: 50%;
  @include box-sizing;
  padding: 12px 11px 10px;
  border: 1px solid $color-border;
  text-align: center;
  float: left;
  cursor: pointer;

  + .reviews__button {
    margin-left: -1px;
  }
}

.reviews__prev {
  width: 50px;
  height: 26px;
}

.reviews__next {
  width: 50px;
  height: 26px;
}

.reviews__write {
  width: 100%;
  margin-top: 39px;
}

@media screen and #{$tablet-widths} {

  .reviews {
    padding: 77px $content-space-big 50px;
    width: $content-width-tablet;
    background: url('../img/review@1x.jpg') 0 100% no-repeat;

    @media screen and #{$retina} {
      background-image: url('../img/review@2x.jpg');
      background-size: 350px 457px;
    }

    &::after {
      bottom: -76px;
      height: 17px;
    }
  }

  .reviews__title {
    font-size: 4.3em;
    margin: 0;
  }

  .reviews__item-descr {
    font-size: 1.7em;
    margin: 47px 0 52px;
    line-height: 31px;
  }

  .reviews__button-group {
    margin-top: 0;
    position: absolute;
    right: 58px;
    bottom: 55px;
  }

  .reviews__button {
    border: none;
    width: auto;

    &:hover {

      .reviews__prev,
      .reviews__next {
        opacity: 0.6;
      }
    }

    &:active {

      .reviews__prev,
      .reviews__next {
        opacity: 0.3;
      }
    }

    &:focus {
      outline: none;
    }

    + .reviews__button {
      margin-left: 15px;
    }
  }

  .reviews__write {
    position: absolute;
    top: 80px;
    right: $content-space-big;
    width: 175px;
    margin-top: 0;
  }
}

@media screen and #{$desktop-widths} {
  .reviews {
    width: $content-width-desktop;
    padding-top: 70px;
    padding-bottom: 100px;
    background-position: 50px 100%;

    &:after {
      height: 23px;
      left:50px;
      right: 50px;
      bottom:-87px;
    }
  }

  .reviews__title {
    font-size: 5.3em;
    padding-left: 175px;
  }

  .reviews__wrapper {
    padding-left: 175px;
  }

  .reviews__item-descr {
    margin-bottom: 31px;
    margin-top: 44px;
  }

  .reviews__button-group {
    bottom: 102px;
  }
}
