.reviews {
  @include centralize;
  padding: 0 $content-space 40px;
  margin-top: 50px;
}

.reviews__title {
  font-size: 2.5em;
  line-height: 1.2;
  color: $clr-title;
  font-weight: 700;
  margin:25px 0;
}

.reviews__wrapper {

}

.reviews__item {
  margin: 0;
}

.reviews__item-descr {
  font-size: 1.5em;
  line-height: 2;
  margin-bottom: 25px;
}

.reviews__item-name {
  font-size: 1.7em;
  font-weight: 700;
  font-style: normal;
  color: $clr-title;
}

.reviews__item-mail {
  font-size: 1.7em;
  color: $clr-def;
  @include link-block;
}

.rewiews__button-group {
  margin-top: 25px;
}

.reviews__button-wrap {
  @include hide-text;
}

.reviews__button {
  background: none;
  width: 50%;
  @include box-sizing;
  padding: 11px;
  border: 1px solid #ececec;
  text-align: center;
  float: left;
  cursor: pointer;

  + .reviews__button {
    margin-left: -1px;
  }
}

.reviews__prev {
  width: 50px;
  height: 26px;
}

.reviews__next {
  width: 50px;
  height: 26px;
}

.reviews__write {
  width: 100%;
  margin-top: 39px;
}
